boto3~=1.28.19
crewai-tools~=0.0.16
litellm~=1.37.9
langchain~=0.1.12
langchain-openai~=0.0.5
mistune~=3.0.2
numpy~=1.26.4
packaging~=23.1
PySide6~=6.2.4
setuptools~=65.5.1
spotipy~=2.23.0
requests~=2.31.0
botocore~=1.31.85
tiktoken~=0.6.0
pydantic~=2.6.4
pydantic_core~=2.16.3
openai~=1.30.1
python-dotenv~=1.0.1
pillow~=10.2.0
regex~=2023.12.25
chromadb~=0.4.24
tqdm~=4.66.2
ipython~=8.22.2
pypdf~=3.17.4
unstructured~=0.12.6
aiohttp~=3.9.3
psutil~=5.9.6
toml~=0.10.2
tendo~=0.3.0
termcolor~=2.4.0
torch~=2.3.1
scipy~=1.13.1
tokentrim~=0.1.13
html2image~=2.0.4.3
nltk~=3.8.1
jupyter_client~=8.6.1
fastapi~=0.110.0
uvicorn~=0.27.1
platformdirs~=4.2.0
rich~=13.7.1
Send2Trash~=1.8.2
PyYAML~=6.0.1
inquirer~=3.2.4
wget~=3.2
pvporcupine~=3.0.2
webrtcvad~=2.0.10
click~=8.1.7
embedchain~=0.1.94
instructor~=0.5.2
PyAudio~=0.2.14
appdirs~=1.4.4