setuptools~=65.5.1
tiktoken~=0.4.0
PySide6~=6.2.4
requests~=2.31.0
PyYAML~=6.0
boto3~=1.28.19
botocore~=1.31.19
numpy~=1.25.0
litellm~=1.14.0
appdirs~=1.4.4
packaging~=23.1
mistune~=3.0.2
jupyter-client~=8.6.0
openai~=1.3.9
tqdm~=4.66.1
python-dotenv~=1.0.0
aiohttp~=3.9.1
html2image~=2.0.4.3
tokentrim~=0.1.13