setuptools~=65.5.1
tiktoken~=0.4.0
pyttsx3~=2.90
requests~=2.31.0
spotipy~=2.23.0
pynput~=1.7.6
selenium~=4.10.0
sounddevice~=0.4.6
PyAutoGUI~=0.9.54
twilio~=8.4.0
termcolor~=2.3.0
replicate~=0.10.0
Pillow~=9.5.0
PyYAML~=6.0
boto3~=1.28.19
botocore~=1.31.19
numpy~=1.25.0
litellm~=0.1.714
PySide6~=6.5.2
openai~=0.28.0